 .Content {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;

  .trainingBox {
    width: 80%;

  }
   .textBox {
     width: 80%;

   }
   .videoBox {
     width: 80%;

   }
   .aboutMeBox {
     width: 80%;
   }

 }