.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  h1 {
    text-transform: uppercase;
    color: #ff962e;
  }


  .topLine {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .item {
      width: 20%;
      display: flex;
      align-items: center;

      img {
        width: 50%;
      }

      h1 {
        width: 50%;
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        color: #ff962e;
      }
    }
  }

  .botLine {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .item {
      width: 100%;
      display: flex;

      p {
        width: 50%;
        font-size: 18px;
        text-align: center;
        display: flex;
        justify-content: center;
        color: #878787;
      }
    }
  }
}