.aboutMe {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30rem;
  margin: 50px 0;

  overflow: hidden;

  .leftContent {
    width: 70%;
    height: 30rem;

    overflow: auto;
    padding: 0 10px 0 0;

    white-space: pre-line;
  }

  .rightContent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    overflow: hidden;

    .aboutMeBg {
      height: 100%;
      position: relative;
    }

    .social {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;

      display: flex;
      justify-content: space-around;


      background: rgba(255, 255, 255, 0.5);
      height: 5rem;

      .socialLink {
        display: flex;
        align-items: center;

        .socialLogo {
          width: 35px;
        }
      }
    }
  }

  h1 {
    color: #ff8c21;
  }
}