

.CorporateTraining {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 30px;

  .topline {
    width: 100%;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .leftContent {
      width: 30%;
      img {
        width: 100%;
      }
    }

      .rightContent {
        width: 70%;

      }



  }
svg {
  height: 40%;
  color: red;
  background: black;
}
  .item {
    width: 30%;
  }
}