

.VideoBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 2vw;
  .leftContent {
    width: 30%;

  }
  .rightContent{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    h1{
      width: 100%;
      color: red;
    }
    span{
      width: 100%;
    }

  }

}