.Header {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2%;

  .activeLink {
    color: orangered;
    font-weight: bold;
  }

  .logo {
    width: 20%;

  }


  .nav {
    width: 70%;

    a {
      text-decoration: none;
    }

    hr {
      //width: 120%;
      //background: orangered;
      //align-items: center;
      //justify-content: flex-end;
      //display: flex;
    }

    .topLine {
      display: flex;
      justify-content: space-between;
    }

    .botLine {
      display: flex;
      justify-content: space-between;
    }
  }


  .langPanel {
    position: absolute;
    top: 1%;
    right: 3%;
  }


}