.container  {
  display: flex;
  flex-wrap: wrap;
h2 {
  width: 100%;
}
  .verticalBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10%;
    flex-wrap: wrap;
    h1 {
      width: 50%;
    }
    p {
      width: 100%;
    }
  }

  .arrow {
    position: absolute;
    bottom: 50%;
  }
}