.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  margin: 50px 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;


  background: #dfe6e9;

  .leftContent {
    width: 50%;
  }

  .rightContent {
    width: 50%;
    padding: 15px;
  }

  h1 {
    color: #ff8c21;
    padding-top: 1rem;
    font-weight: bold;
    width: 100%;


    &.title {
      position: relative;
      margin-bottom: 10px;
      width: 100%;
      color: dimgrey;


      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 4px;
        width: 60px;
        background: #ff8C21;
      }
    }
  }



  p {
    width: 100%;
    color: #7A7A7A;
  }
}