.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;


  img  {
   margin: auto;
  }
  h1{
    position: absolute;
    top: 150px;
    text-transform: uppercase;
color: white;
    text-shadow: #ef7f1a 1px 1px  5px;
  }
  hr {
    position: absolute;
color: black;
    top: 50%;
    right: 50%;
  }
}