* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  text-underline: none;
}

.app {
  //position: relative;
  display: flex;
  justify-content: space-between;

  //height: 100vh;
  //overflow: hidden;
  //overflow-y: scroll;


  .menuWrapper {
    position: fixed;
    z-index: 3;
    width: 250px;
    height: 100%;
  }

  .appContent {
    width: 100%;
    //overflow-y: scroll;

    padding: 0 12% 0 calc(12% + 78px);

    @media (max-width: 1400px) {
      width: 100%;
    }
  }
}

// Scrollbar custom styles
::-webkit-scrollbar {
  position: fixed;
  right: 0;

  z-index: 100;

  width: 9px;
  background-color: lightgray;
}


::-webkit-scrollbar-button {
  //background-color: #ef7f1a;
  //display: none;
}

::-webkit-scrollbar-track {
  /* 3 - трек */
  background: transparent;
  display: none;
}

::-webkit-scrollbar-track-piece {
  /* 4 - видимая часть трека */
}

::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  border-radius: 12px;
  background-color: #aaa;
}

::-webkit-scrollbar-corner {
  /* 6 - уголок */
}

::-webkit-resizer {
  /* 7 - изменение размеров */
}

//------------ scrollbar---------------
